{% extends 'internal/base.html.twig' %}

{% set title = 'sessions.repertoire.index.title'|trans({}, 'sessions') %}

{% block internal_body %}
    <section class="internal-page-heading">
        <div>
            <p class="internal-eyebrow">{{ 'sessions.repertoire.index.eyebrow'|trans({}, 'sessions') }}</p>
            <h1>{{ 'sessions.repertoire.index.heading'|trans({}, 'sessions') }}</h1>
            <p>{{ 'sessions.repertoire.index.description'|trans({}, 'sessions') }}</p>
        </div>
        <a class="internal-button" href="{{ path('repertoire_new') }}">{{ 'sessions.repertoire.index.create'|trans({}, 'sessions') }}</a>
    </section>
    {{ component('RepertoireCatalogTable', { sessionQuery: sessionQuery }) }}
{% endblock %}
