{% extends 'internal/base.html.twig' %}

{% set title = 'sessions.media.index.title'|trans({}, 'sessions') %}

{% block internal_body %}
    <section class="internal-page-heading">
        <div>
            <p class="internal-eyebrow">{{ 'sessions.media.index.eyebrow'|trans({}, 'sessions') }}</p>
            <h1>{{ 'sessions.media.index.heading'|trans({}, 'sessions') }}</h1>
            <p>{{ 'sessions.media.index.description'|trans({}, 'sessions') }}</p>
        </div>
        <a class="internal-button" href="{{ path('media_resource_new') }}">{{ 'sessions.media.index.create'|trans({}, 'sessions') }}</a>
    </section>
    {{ component('MediaResourceCatalogTable', { sessionQuery: sessionQuery }) }}
{% endblock %}
